@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
canvas {
  overflow: visible;
  margin: 0 auto;
}

/* Media query for small screens (adjust the breakpoint as needed) */
@media screen and (max-width: 768px) {
  canvas {
    width: 300px !important;
    height: 300px !important;
  }
}

/* Styles for larger screens (full width) */
@media screen and (min-width: 769px) {
  canvas {
    width: 400px !important;
    height: 300px !important; /* Allow the height to adjust proportionally */
  }
}